@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main_color);
}

::selection {
  background-color: var(--red);
  color: var(--white);
}
:root {
  --white: rgb(255, 255, 255);
  --red: #ff3131;
  --main_color: #030121;
  --font: "Poppins", sans-serif;
  --grey: #bcbaba;
  --deep_pink: #1c0a23;
}

.header {
  width: 100%;
  display: flex;
  height: 230px;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}
.navigation_bar {
  margin-top: 16px;
  height: 56px;
  align-items: center;
}

.logo img {
  height: 80px;
  width: 80px;
}

.nav {
  justify-content: end;
}
.nav li {
  float: left;
  padding: 6px 20px;
}

.contact_us a {
  background-color: var(--red);
  padding: 6px 20px;
  margin-left: 20px;
  border-radius: 4px;
}

.nav li a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--font);
  font-weight: 500;
}

.first_section {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden !important;
}
.welcome_section {
  position: relative;
  /* max-width: 100%; */
}
.glow_bg {
  background-image: url(../img/Ellipse\ 9.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: absolute;
  height: 100%;
  background-position: center center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.nero_image {
  width: 350px;
  height: auto;
  margin-top: -80px;
}

.input_box {
  width: 600px;
  background-color: #f0f0f031;
  margin: 0 auto;
  border: 1px solid var(--white);
  padding: 10px 0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.button {
  text-align: end;
}
.copy_btn {
  padding: 8px 15px;
  border: none;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
}
.copy_btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font);
  color: rgb(232, 224, 224);
  outline: none;
}

.input::placeholder {
  color: var(--grey);
}
.title_text {
  font-size: 56px;
  font-family: var(--font);
  font-weight: 700;
  color: var(--white);
  margin: 36px 0;
}

.para {
  font-family: var(--font);
  font-size: 24px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  color: var(--grey);
}

.about_section {
  display: flex;
  min-height: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #1c0a23;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
}
.about_img img {
  width: auto;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.subtitle {
  color: var(--grey);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
}
.about {
  width: 60%;
}
.title {
  font-size: 56px;
  font-family: var(--font);
  color: var(--white);
  font-weight: 700;
  line-height: 1.3;
}

.paragraph {
  width: 70%;
  color: var(--grey);
  font-family: var(--font);
  font-weight: 500;
  font-size: 16px;
}

.utility_section {
  width: 100%;
  position: relative;
  min-height: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding: 80px 0;
}

.left_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 550px;
  z-index: -10;
  background-repeat: no-repeat;
  height: auto;
  background-size: contain;
  background-position: center center;
  overflow: hidden;
}
.right_overlay {
  position: absolute;
  top: 0;
  overflow: hidden;
  right: 0;
  width: 550px;
  z-index: -10;
  background-repeat: no-repeat;
  height: auto;
  background-size: contain;
}

.grid_box {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.single_box {
  border: 1px solid #1211259e;
  background-color: #12112552;
  border-radius: 16px;
  padding: 32px;
}

.single_box img {
  width: 100px;
  height: 100px;
}
.single_box_title {
  font-family: var(--font);
  margin-top: 20px;
  color: var(--white);
  font-weight: 500;
}

.single_box_message {
  font-family: var(--font);
  font-weight: 500;
  color: var(--grey);
}

.roadmap_section {
  width: 100%;
  min-height: 0px;
  margin: 0 auto;
  padding: 80px 0;
  background-color: var(--deep_pink);
}
.roadmap {
  margin-top: 40px;
}
.roadmap_img {
  width: 100%;
  height: auto;
}
.roadmap_btn {
  display: flex;
  justify-content: end;
}

.detail_btn {
  background: none;
  border: none;
  width: 200px;
  justify-content: end;
}

.detail_btn a {
  text-decoration: none;
  font-size: 16px;
  color: var(--white);
  padding: 10px 20px;
  font-family: var(--font);
  border-radius: 8px;
  background-color: var(--red);
}

.faq_section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 0px;
  overflow: hidden;
  padding: 80px 0;
}

.faq_section .single_box_message {
  width: 70%;
  margin-top: -10px;
}

.faq_section .right_overlay,
.faq_section .left_overlay {
  width: 200px;
  height: auto;
}

.docs_section {
  background-color: var(--deep_pink);
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.docs_wrapper {
  background-image: url(../img/hero-bg-2.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  min-height: 450px;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.git_btn {
  border: none;
  margin-top: 60px;
  background: none;
}

.git_btn a {
  text-decoration: none;
  font-family: var(--font);
  font-weight: 500;
  color: var(--white);
  background-color: var(--red);
  padding: 16px 80px;
  font-size: 20px;
  border-radius: 7px;
}

.git_btn a:hover {
  background-color: var(--white);
  color: var(--red);
  transition: 0.5s ease-in-out;
}

.contact_section {
  background-image: url(../img/Ellipse\ 11.png);
  background-position: center center;
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  min-height: 0px;
}

.support_img {
  margin-top: 40px;
}

.form {
  border: 1px solid rgb(235, 112, 112);
  padding: 32px;
  border-radius: 16px;
  background-color: var(--deep_pink);
}

.form label {
  color: var(--white);
  font-family: var(--font);
  font-weight: normal;
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 2;
}
.icon {
  list-style: none;
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
}
.icon li {
  float: left;
}
.icon li a {
  text-decoration: none;
  text-align: center;
}
.icon li a img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.form_input {
  border: 1px solid var(--white);
  background-color: #ffffff15;
  padding: 16px 20px;
  font-family: var(--font);
  font-weight: normal;
  font-size: 16px;
  width: 100%;
  color: var(--white);
  border-radius: 10px;
}

.form_input::placeholder {
  color: var(--grey);
  font-family: var(--font);
}

.message {
  height: 200px;
}

.form_btn {
  background: none;
  border: none;
  width: 100%;
}
.form_btn a {
  text-decoration: none;
  display: inline-block;
  color: black;
  width: 100%;
  padding: 20px 0;
  font-weight: 600;
  font-size: 20px;
  font-family: var(--font);
  border-radius: 10px;
  background-color: var(--white);
}

.form_btn a:hover {
  background: var(--red);
  color: var(--white);
  transition: 0.5s ease-in-out;
}

.dashed {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  background-color: var(--grey);
  margin-right: auto;
  border-width: 8px;
}

.footer {
  align-items: center;
  padding: 30px 0;
  min-height: 100px;
}
.footer .single_box_message {
  margin-top: 20px;
}

.footer .nav li a {
  color: var(--grey);
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  .header {
    background-size: cover;
  }
  .nav {
    justify-content: center;
  }
  .nav li {
    padding: 6px 10px;
  }
  .form {
    margin-top: 40px;
  }

  .navigation_bar {
    justify-content: center;
    align-items: center;
  }

  .logo {
    text-align: center;
  }
  .nav li a {
    font-size: 12px;
  }
  .nero_image {
    margin-top: -50px;
  }
  .input_box {
    width: 90%;
    padding: 10px 15px;
  }
  .first_section {
    width: 90%;
    overflow: hidden;
  }
  .title_text {
    font-size: 2em;
  }
  .para {
    width: 100%;
    font-size: 20px;
  }
  .about {
    width: 100%;
  }
  .subtitle {
    margin-top: 0px;
  }
  .paragraph {
    width: 100%;
  }
  .utility {
    width: 100%;
    overflow: hidden;
  }
  .utility_section {
    overflow: hidden;
  }

  .grid_box {
    width: 100%;
    overflow: hidden;
  }
  .title {
    font-size: 2.6em;
  }

  .faq_section .single_box_message {
    width: 100%;
  }
  .res_docs {
    width: 100% !important;
  }
  .icon {
    margin-top: 40px;
  }
  .about .subtitle {
    margin-top: 40px;
  }
  .footer {
    width: 100%;
  }
  .footer .nav {
    margin-top: -20px;
  }
  .roadmap_btn {
    margin-top: 40px;
    justify-content: center;
  }
  .detail_btn a {
    padding: 6px 20px;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 412px) {
  .utility_section {
    overflow: hidden;
  }
  .input_box {
    width: 100%;
  }
  .glow_bg {
  }
  .input {
    margin-left: 10px;
  }
  .button {
    text-align: center;
  }
  .title_text {
    font-size: 2em;
  }
  .para {
    width: 90%;
    font-size: 0.9em;
    margin-top: -20px;
  }
  .title {
    font-size: 2em;
    width: 100%;
  }
  .paragraph {
    font-size: 0.9em;
  }
  .about_img img {
    width: 100%;
    height: auto;
  }
  .subtitle {
    margin-top: 0px;
  }
  .faq_section .single_box_title {
    margin-top: -10px;
  }
  .faq {
    margin-top: 40px;
  }
  .about_section .subtitle {
    margin-top: 80px;
  }
  .footer .nav li a {
    font-size: 0.7em;
  }
}
